/*******************************************
* artisan_black.css
********************************************

The 'black' theme for use by the desktop webUI

Works with the easyUI 'black' theme.

The only difference in 'artisan styles at this time,
between themes, is the color for the html, body,
and td elements.

********************************************/

td, html, body
{
	color:#ffffff;
}

#renderer_header_right,
#renderer_header_left,
#renderer_header_bar
{
	color:#aaaaaa;
	background:#444444;
}
