/*******************************************
 artisan.css
*******************************************

The global, default, styles used in all versions of
the webUI (desktop, car_stereo, and car_test).

This file should not contain any sizing or styling
information information.  Sizes and styles are specific
to the desktop or car_stereo versions of the UI.

*/

body, h1, h2, h3, li, p, td
{
	font-family: arial, helvetica;
	not-font-size: 10pt;
}

   
td
{
	white-space:nowrap;
}

div.panel-title
{
	white-space: nowrap;
}



/* ICON STYLES - the size for the artisan icon is 'ok' for now */

.icon-artisan
{
	background:url('/webui/icons/artisan.png') no-repeat center center;
	background-size: 28px 28px;
}

.icon-alert
{
	background:url('/webui/icons/alert.png') no-repeat center center;
}
.icon-tree
{
	background:url('/webui/icons/tree.png') no-repeat center center;
}
.icon-camera
{
	background:url('/webui/icons/camera.png') no-repeat center center;
}

.icon-error_0
{
	background:url('/webui/icons/error_0.png') no-repeat center center;
}
.icon-error_1
{
	background:url('/webui/icons/error_1.png') no-repeat center center;
}
.icon-error_2
{
	background:url('/webui/icons/error_2.png') no-repeat center center;
}
.icon-error_3
{
	background:url('/webui/icons/error_3.png') no-repeat center center;
}
.icon-error_4
{
	background:url('/webui/icons/error_4.png') no-repeat center center;
}
.icon-error_5
{
	background:url('/webui/icons/error_5.png') no-repeat center center;
}


/* GLOBAL BUTTON STYLES */

.button_off            { font-weight:bold; color:#000000; not-font-size:20px; }
.button_off:disabled   { font-weight:bold; color:#aaaaaa; not-font-size:20px;}
.button_on             { font-weight:bold; color:#0000ff; not-font-size:20px;}
.button_on:disabled    { font-weight:bold; color:#aaaaaa; not-font-size:20px;}


/* GLOBAL UTILITY STYLES */

.bold           { font-weight:bold; }
.nowrap         { white-space:nowrap; }


/* TEST MENU STYLES */

.artisan_menu_section
{
	padding-top:10px;
	padding-bottom:10px;
}

.artisan_menu_hover,
.artisan_menu_selected,
.artisan_menu_item
{
	font-size:12pt;
	not-margin-top:0px;
	not-margin-bottom:0px;
	not-margin-left:10px;
	not-padding:0;
	white-space:nowrap;
	width:100px;
	overflow:hidden;
	cursor: pointer;	
}


.artisan_menu_selected
{
	background:#bb8800;
	color:#000000;
}

.artisan_menu_hover
{
	background:#bb8800;
	color:#00ffff;
}
