/*******************************************
 renderer.css
*******************************************
Styles used in the renderer (Now Playing) pane
*/


/****** HEADER ******/

#renderer_header_bar
{
	overflow:hidden;
    height:32px;
}

#renderer_header_icon
{
	width:24px;
	height:24px;
}


#renderer_header_left
{
	font-size:11pt;
	font-weight:bold;
	margin-top:4px;
	margin-bottom:0px;
}

#renderer_header_right
{
	font-size:11pt;
	margin-top:4px;
	margin-bottom:0px;
	margin-right:12px;
}


/* ALBUM INFO SECTION */
/* the album_image lives withing the album_image_td */

#renderer_album_image_td
{
	width:170px;
	vertical-align:top;
	text-align:center;
}

#renderer_album_image
{
	height:160px;
	width:160px;
	margin-top:6px;
	margin-left:6px;
	margin-right:6px;
	margin-bottom:0px;
	padding:0px;
}

/* the album_info_td contains the album_info_div and the slider_div */

#renderer_album_info_td
{
	vertical-align:top;
	overflow:hidden;
}

#renderer_album_info_div
{
	height:145px;
}

#renderer_slider_div
{
	height:15px;
	margin-left:10px;
}


/* the song info elements live within the renderer_album_info_div */

#renderer_song_title     { font-size:15pt; font-weight:bold; margin-top:10px; margin-bottom:0px;}
#renderer_album_artist   { not-font-size:12pt;                   margin-top:0px;  margin-bottom:0px;}
#renderer_album_title    { font-size:13pt; font-weight:bold; margin-top:10px; margin-bottom:0px;}
#renderer_album_track    { font-size:10pt;                   margin-top:0px;  margin-bottom:0px;}
#renderer_song_genre     { font-size:11pt;                   margin-top:10px; margin-bottom:10px;}


/* TRANSPORT CONTROLS (except the slider) */

#renderer_play_type 	 { font-size:10pt; font-weight:bold;  text-align:center; }
#renderer_duration		 { text-align: right; }
.renderer_play_time      { font-size:10pt; font-weight:bold; }
	/* class is used on both reltime and duration times */
	

/* styling for the two tables that contain the transport buttons */


.renderer_control_off            { font-weight:bold; color:#008800; font-size:20px}
.renderer_control_off:disabled   { font-weight:bold; color:#aaaaaa; font-size:20px}
.renderer_control_on             { font-weight:bold; color:#0000ff; font-size:20px}
.renderer_control_on:disabled    { font-weight:bold; color:#aaaaaa; font-size:20px}




