/* default (white) theme */

body, h1, h2, h3, li, p, td
{
	color:#000000;
	background:#ffffff;
}


.header_bar,
.header_bar td
{
	color:#dddddd;
	background:#999999;
}


.renderer_control_on
{
	color: #0000ff;
}



