/* artisan_touch.css */
/* this file gets "turned on" on touch devices where we want bigger buttons, etc *.


/* ARTSIAN_MENU */

.artisan_menu_table td
{
	padding-left:20px;
}

.artisan_menu_item
{
	font-size:12pt;
}



/* EXPLORER STYLE OVERRIDES */

#explorer_tracklist td,
#explorer_tree td
{
	font-size:14pt;
	vertical-align:middle !important;
}


#explorer_tree span.fancytree-title
{
	padding-top:5px;
}


#explorer_details .fancytree-icon
{
	width:16px !important;
	height:16px !important;
}


.explorer_details_section_label
{
	font-size:14pt;
}


.explorer_tracklist_variable_col,
.explorer_tracklist_variable_td,
.explorer_tree_num, 
.explorer_tree_num_column 
	/* hide extra columns in tree and tracklist */
{
	display:none;
}








