/* black theme */

body, h2, h3, li, p, td, div
{
	color:#ffffff;
	background:#000000;
}


.header_bar,
.header_bar td
{
	color:#cccccc;
	background:#444444;
}


.renderer_control_on
{
	color: #6666ff;
}


.ui-layout-pane
{
	background:#000000 !important;
}



/* direct overrides of ui.fancytree.css */

ul.fancytree-container
{
	background-color:#000000;
	border: 0px black;
}

span.fancytree-title
{
	color: #ffffff;
}

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected
{
	background-color: #000000;
	border-color: #000000;
}

.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active,
	/* re-assert highlighting of the current active node */
.fancytree-container.fancytree-treefocus span.fancytree-node:hover,
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected:hover
	/* re-assert hover highlighting */
{
	background-color: #222244;
	border-color: #26A0DA;
}




