/*******************************************
 artisan.css
********************************************/

/* HTML ELEMENT DEFAULTS */

html, div, body, h1, h2, h3, li, p, td
{
	font-family: arial, helvetica;
	margin:0;
	padding:0;
	font-size:10pt;
}

td
{
	white-space:nowrap;
	vertical-align:top;
}

table
{
	border-collapse: collapse;
}



/* GLOBAL OBJECT STYLES */

.desktop_page
{
    width:100%;
    height:100%;
	position:absolute;
	display:none;
}


.header_bar,
.header_bar td
{
    height:36px;
	font-size:14pt;
	overflow:hidden;
	padding-top:3px;
}

.header_icon
{
	width:30px;
	height:30px;
	margin-left:4px;
	margin-right:8px;
	margin-top:-3px;
	vertical-align:top;
}

 
.header_left
{
	font-weight:bold;
}

.header_right
{
	margin-right:12px;
	text-align:right;
}





.artisan_menu_table
{
	height:100%;
	width:240px;
}

.artisan_menu_table td
{
	vertical-align:middle;
	padding-left:14px;
	padding-top:2px;
}

.artisan_menu_item
{
	font-size:10pt;
}



/* GLOBAL JQUERY UI OVERRIDES */

/* override the ui-layout-pane that came with using
 * {applyDemoStyles: true} which is useful as it
 * provides the sliders, buttons, etc */

 
.ui-layout-pane
{
	padding: 0px !important;
	border:0px !important;
	overflow:hidden !important;
}

/* override the stock ui-accordian styles */

.ui-accordion,
.ui-accordion-header
{
	margin-top: 0px !important;
}


table.fancytree-ext-table tbody tr td
{
	border:0px;
}



/* POPUP EDITOR STYLING */


#popup_input_div
{
	z-index:999999;
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	border:3px;
	width:100%; /*300px;  */
	height:320px; 
	padding-left:20px;
}

#popup_input_title
{
	font-size:16pt;
	width:240px;
	margin-bottom:20px;
}

#popup_input_numeric
{
	font-size:16pt;
	width:240px;
	height:45px;
}



#context_menu_div
{
	position:absolute;
	width:110px;
	height:110px;
	border:6px solid #777777;
	display:none;
	z-index:999999;
	text-align:center;
}

#context_menu_div p
{
	font-size:10pt;
	margin-top:6px;
}
