/*******************************************
 explorer.css
********************************************/
/* ALBUM INFO TOP PANE */

#explorer_folder_td		{ padding-top:2px; margin-left:20px; }
#explorer_folder_title  { font-size:12pt;  margin-top:0px; margin-bottom:0px; font-weight:bold; }
#explorer_folder_artist { font-size:10pt;  margin-top:0px; margin-bottom:0px;}
#explorer_folder_genre  { font-size:10pt;  margin-top:0px; margin-bottom:0px;}
#explorer_folder_year   { font-size:10pt;  margin-top:0px; margin-bottom:0px;}
#explorer_folder_path   { font-size:8pt;   margin-top:4px; margin-bottom:0px;}


.select_buttons
{
    display: flex;
    justify-content: space-between;
	padding-top: 12px;
	padding-left:30px;
	padding-right:30px;
}

.select_button
{
	width:60px;
}



/* EXPLORER TREE */

#explorer_tree_div
{
	overflow-y:auto !important;
}


#explorer_tree
{
	width:100%;
	table-layout:fixed;
}


#explorer_tree span
{
    overflow:hidden;
	color:#ffffff;
	background-color:#000000;
	font-size:12pt;
}







/* EXPLORER DETAILS */

#explorer_details td
{
	vertical-align:middle !important;
}


#explorer_details_div
{
	overflow-y:auto !important;
	overflow-x:auto !important;
}


#explorer_details span
/*
	it was necessary to get rid of the min-height:20px from
	jquery/fancytree-2.38.3/skin-themeroller/ui.fancytree.css:372
	in order to make the details lines more compact
*/
{
	min-height:0px !important;
}


.explorer_details_icon    { width:16px; !important;  }
.explorer_details_lvalue  { width:45px; overflow:hidden; }


.explorer_details_section_label {
	color:#6666ff;
	font-weight: bold;
	icon: auto;
}



/* end of explorer.css */
