/*******************************************
 fancy.css - fancytree stuff that comes last
********************************************/


table.fancytree-ext-table tbody tr td
{
	border:0px;
}

ul.fancytree-container
{
	background-color:#000000;
	border: none;
}


/* selected color must come after normal color */

.fancytree-selected > span.fancytree-title,
.fancytree-selected > td,
.fancytree-partsel > td
{
	background-color: #74992e !important;
}



/*--------- DEVICE SPECIFIC CSS ----------*/
/* Example of using a media query in the CSS to change one thing */
/* We set bigger fonts in the tracklist and tree on mobile devices
   as determined by anything with a width <= 1250 pix */

@media (max-device-width: 1250px)
{
	#queue_tracklist span.fancytree-title,
	#playlist_tracklist span.fancytree-title,
	#queue_tracklist td,
	#playlist_tracklist td,
	#explorer_tree span,
	#explorer_tracklist td
	{
		font-size:16pt;
	}
	#explorer_details td
	{
		font-size:13pt;
	}

	img.fancytree-icon
	{
		width:24px;
		height:24px;
	}
	.tracklist_icon
	{
		width:24px;
	}
}


/* end of fancy.css */
