/*******************************************
 fancy.css - fancytree stuff that comes last
********************************************/


table.fancytree-ext-table tbody tr td
{
	border:0px;
}

ul.fancytree-container
{
	background-color:#000000;
	border: none;
}


/* selected color must come after normal color */

.fancytree-selected > span.fancytree-title,
.fancytree-selected > td,
.fancytree-partsel > td
{
	background-color: #74992e !important;
}



/*--------- DEVICE SPECIFIC CSS ----------*/
/*
	This section is intended to make things that one needs to
	click on BIGGER on the phone and iPad, both of which have
	pixel ratios > 2  AND on the 7" rpi HDMI screen which has
	(been picked to have 832x624 or 1024x768 resolution

	Comma is a synonym for or
*/

@media
	(-Webkit-min-device-pixel-ratio: 1.5) or
	(device-width: 1024px)
{
	#search_tracklist span.fancytree-title,
	#queue_tracklist span.fancytree-title,
	#playlist_tracklist span.fancytree-title,
	#search_tracklist td,
	#queue_tracklist td,
	#playlist_tracklist td,
	#explorer_tree span,
	#explorer_tracklist td
	{
		font-size:16pt;
	}
	#explorer_details td
	{
		font-size:13pt;
	}

	img.fancytree-icon
	{
		width:24px;
		height:24px;
	}
	.tracklist_icon
	{
		width:24px;
	}
}


/*
	This section is intended to make the renderer SMALLER
	on everything except the laptop, which has a fixed width
	of 1920 and the 7" hdmi screen, with it's chosen 1024x7768
	resolution.

	The devices currently include the iPad, the phone,
	and chromium running on the rPi 12V monitor.

	Whatever happens here MUST be mirrored in the artisan.js
	layout code.

	@media (max-device-width: 1900px) and not (device-width: 832px)
*/


@media (not (device-width: 1920px)) and (not (device-width: 1024))
{
	#renderer_album_image_td
	{
		width:85px;
	}

	#renderer_album_image
	{
		margin-top:2px;
		margin-left:2px;
		margin-right:5px;
		margin-bottom:0px;
		padding:0px;
	}

	#renderer_album_image
	{
		height:80px;
		width:80px;
	}

	#renderer_album_info_td
	{
		vertical-align:top;
		overflow:hidden;
		padding-left:2px;
	}

	#renderer_album_info_div
	{
		height:55px;
	}

	#renderer_song_title     { font-size:10pt; margin-top: 0px; }
	#renderer_album_artist   { font-size:7pt; }
	#renderer_album_title    { font-size:7pt; margin-top:0px;}
	#renderer_album_track    { font-size:5pt; }
	#renderer_song_genre     { font-size:5pt; margin-top:0px;}

	#renderer_slider_div
	{
		height:32px;
	}


	#renderer_slider
	{
		height:6px;
		margin-top:2px;
		margin-left:8px;
		margin-right:10px;
``}

	#renderer_play_type 	 { font-size:7pt; }
	.renderer_play_time      { font-size:7pt; }

	.transport_buttons
	{
		padding:0;
		padding-left:10;
		padding-right:10;
		margin:0;
	}

}



/*
	This section is intended to make text on the rPi 12v monitor
	SMALLER.
*/

@media (device-width: 800px)
{

	#search_tracklist span.fancytree-title,
	#queue_tracklist span.fancytree-title,
	#playlist_tracklist span.fancytree-title,
	#search_tracklist td,
	#queue_tracklist td,
	#playlist_tracklist td,
	#explorer_tree span,
	#explorer_tracklist td
	{
		font-size:10pt;
		min-height: 0px !important;
		border:0px !important;
	}
	#explorer_details td
	{
		min-height: 0px !important;
		font-size:8pt;
	}

	img.fancytree-icon
	{
		width:12px;
		height:12px;
		padding:0px important;
		min-height: 0px !important;
	}
	.tracklist_icon
	{
		width:16px;
		padding:0px important;
		min-height: 0px !important;
	}
	.fancytree-expander
	{
		margin-top:-1px !important;
	}
	/* I love chasing down assumptions by others */
	/* fancytree nodes have a min-height of 20px by default */

	.fancytree-title,
	.fancytree-node
	{
		min-height: 0px !important;
	}
	.ui-button
	{
		padding:1px;
	}
	h3,td {
		padding-top:0px !important;
		padding-bottom:0px !important;
	};

}

/*
	there are lessons to be learned here.
	i hate the asssumptions that jquery-ui, jquery-layout, and fancytree make
	the default should be NO padding and NO margins.
	and if I want things BIGGER I can always ADD that.
	rather than using !important to SUBTRACT attributes.

	A total redesign, and ownership, of the CSS is close to warranted
*/


/* end of fancy.css */
