/*******************************************
 home.css
*******************************************/
/* Contains styles used in page_home.html and children */


/************** pane_home_menu.html ****************/

.ui-accordion,
.ui-accordion-header
{
	margin-top: 0px !important;
}

.ui-accordion-header
{
	overflow:hidden !important;
}

.home_accordian
{
	overflow-x: hidden !important;
}



#home_menu
{
	width:100% !important;
	font-size:16px;
	font-weight:bold;
}


#playlist_menu,
#renderer_menu,
#library_menu
{
	width:100%;
	padding:0;
	white-space:nowrap;
	overflow-x: hidden !important;
}

#playlist_menu label,
#renderer_menu label,
#library_menu label
{
	width: 78%;
	font-size:16px;
	font-weight:bold;
	overflow:hidden;
	white-space:nowrap;
	margin-top: 6px;
	margin-left: 5%;
	margin-right: 25%;
}




#prefs_div
{
	font-size:20px;
	width:100%;
	padding:0px;
	margin:0px;
}

.pref_div
{
	margin-top:12px;
	width:100%;
}

.pref_title
{
	margin-bottom:8px;
}

.pref_value
{
	color:#6666ff;
	margin-left:30px;
	font-weight:bold;
}

.pref_control_div
{
	margin-top:6px;
	margin-left:45px;
}


.pref_descrip
{
	margin-top:10px;
	margin-left:15px;
}





/************ the 'renderer' pane ********************/

.header_bar
{
	width:100%;
	white-space: nowrap;
    display: flex;
	flex-wrap: nowrap;
    justify-content: space-between;
}

.header_text
{
	font-size:14pt;
	padding-top:3px;
	color:#cccccc;
	background:#444444;
}

.header_button
{
	padding:0;
	margin-top:-5px;
}

.header_icon
{
	width:30px;
	height:30px;
	margin-left:4px;
	margin-right:8px;
	margin-top:-3px;
	vertical-align:top;
}

.header_filler
{
	margin-left:20px;
}

.header_active
{
	color:#ffffff;
	opacity:1 !important;
	font-weight:bold;
}


.header_right
{
	margin-right:12px;
}





#renderer_full_album_image_td,
#renderer_album_image_td
{
	vertical-align:top;
	text-align:center;
}

#renderer_album_image_td
{
	width:170px;
}

#renderer_full_album_image_td
{
	width:270px;
}


#renderer_full_album_image,
#renderer_album_image
{
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:0px;
	padding:0px;
}

#renderer_album_image
{
	height:160px;
	width:160px;
}

#renderer_full_album_image
{
	height:240px;
	width:240px;
	padding-left:8px;
}



#renderer_full_album_info_td
#renderer_album_info_td
{
	vertical-align:top;
	overflow:hidden;
	padding-left:5px;
}

#renderer_album_info_div
{
	height:125px;
	overflow:hidden;
}

#renderer_full_album_info_div
{
	overflow:hidden;
}



#renderer_song_title     { font-size:15pt; font-weight:bold; margin-top:10px; margin-bottom:0px;}
#renderer_album_artist   { font-size:11pt;                   margin-top:0px;  margin-bottom:0px;}
#renderer_album_title    { font-size:13pt; font-weight:bold; margin-top:6px; margin-bottom:0px;}
#renderer_album_track    { font-size:10pt;                   margin-top:0px;  margin-bottom:0px;}
#renderer_song_genre     { font-size:11pt;                   margin-top:6px; margin-bottom:0px;}

#renderer_full_song_title     { font-size:20pt; font-weight:bold; margin-top:12px; margin-left:12px;  margin-bottom:0px;}
#renderer_full_album_artist   { font-size:17pt;                   margin-top:25px; margin-bottom:0px;}
#renderer_full_album_title    { font-size:18pt; font-weight:bold; margin-top:16; margin-bottom:0px;}
#renderer_full_album_track    { font-size:14pt;                   margin-top:0px;  margin-bottom:0px;}
#renderer_full_song_genre     { font-size:12pt;                   margin-top:16px; margin-bottom:0px;}



#renderer_slider_div
{
	height:45px;
}

#renderer_slider
{
	height:8px;
	background:#222266 !important;
	margin-top:10px;
	margin-left:8px;
	margin-right:20px;
}

#renderer_play_info
{
	margin-top:8px;
	margin-left:2px;
	margin-right:20px;
}


#renderer_play_type 	 { font-size:10pt; text-align:center; }
#renderer_duration		 { text-align: right; }
.renderer_play_time      { font-size:10pt; }


.renderer_table
{
	width:98%;
	margin-bottom:10px;
}


.transport_buttons
{
    display: flex;
    justify-content: space-between;
	padding-left:30px;
	padding-right:30px;
}

.transport_button
{
	width:60px;
}

#transport_shuffle-button
{
	width:85px;
	font-size:13pt;
}

.ui-menu-item-wrapper
{
	font-size:14pt;
	padding-top: 14px !important;
	height:36px !important;
}


