/*******************************************
 renderer.css
*******************************************/
/* Contains styles in in pane_renderer.html */


/* ALBUM INFO SECTION */

#renderer_full_album_image_td,
#renderer_album_image_td
{
	vertical-align:top;
	text-align:center;
}

#renderer_album_image_td
{
	width:170px;
}

#renderer_full_album_image_td
{
	width:270px;
}


#renderer_full_album_image,
#renderer_album_image
{
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:0px;
	padding:0px;
}

#renderer_album_image
{
	height:160px;
	width:160px;
}

#renderer_full_album_image
{
	height:240px;
	width:240px;
	padding-left:8px;
}


/* the album_info_td contains the album_info_div and the slider_div */

#renderer_full_album_info_td
#renderer_album_info_td
{
	vertical-align:top;
	overflow:hidden;
	padding-left:5px;
}

#renderer_album_info_div
{
	height:125px;
	/* width:340px; the width is fixed in car_stereo.css */
	overflow:hidden;
}

#renderer_full_album_info_div
{
	/* height:125px; */
	/* width:340px; the width is fixed in car_stereo.css */
	overflow:hidden;
}



/* the song info elements live within the renderer_album_info_div */

#renderer_song_title     { font-size:15pt; font-weight:bold; margin-top:10px; margin-bottom:0px;}
#renderer_album_artist   { font-size:11pt;                   margin-top:0px;  margin-bottom:0px;}
#renderer_album_title    { font-size:13pt; font-weight:bold; margin-top:6px; margin-bottom:0px;}
#renderer_album_track    { font-size:10pt;                   margin-top:0px;  margin-bottom:0px;}
#renderer_song_genre     { font-size:11pt;                   margin-top:6px; margin-bottom:0px;}

#renderer_full_song_title     { font-size:20pt; font-weight:bold; margin-top:12px; margin-left:12px;  margin-bottom:0px;}
#renderer_full_album_artist   { font-size:17pt;                   margin-top:25px; margin-bottom:0px;}
#renderer_full_album_title    { font-size:18pt; font-weight:bold; margin-top:16; margin-bottom:0px;}
#renderer_full_album_track    { font-size:14pt;                   margin-top:0px;  margin-bottom:0px;}
#renderer_full_song_genre     { font-size:12pt;                   margin-top:16px; margin-bottom:0px;}



/* slider styling */

#renderer_slider_div
{
	height:45px;
}

#renderer_slider
{
	height:8px;
	background:#222266 !important;
	margin-top:10px;
	margin-left:8px;
	margin-right:20px;
}

#renderer_play_info
{
	margin-top:8px;
	margin-left:2px;
	margin-right:20px;
}


#renderer_play_type 	 { font-size:10pt; text-align:center; }
#renderer_duration		 { text-align: right; }
.renderer_play_time      { font-size:10pt; }


/* TRANSPORT CONTROLS */


.renderer_table
	/* styling for the two tables that contain the transport buttons */
{
	width:98%;
	margin-bottom:10px;
}


#renderer_button_unused1,
#renderer_button_prev,
#renderer_button_next,
#renderer_button_stop,
#renderer_button_play_pause,
#renderer_button_shuffle,
#renderer_button_unused2,
#renderer_button_station_1,
#renderer_button_station_2,
#renderer_button_station_3,
#renderer_button_station_4,
#renderer_button_station_5,
#renderer_button_station_6,
#renderer_button_station_assign
{
	font-weight:bold;
	font-size:13pt;
	height:40px;
}

.renderer_big_button
{
	width:90px;
}


/******************* HOME-MENU PANE STYLES ****************/

/* this affects the section HEADER buttons*/

#home_menu
{
	width:243px;
	font-size:16px;
	font-weight:bold;
}



/* HOME-MENU LIST STYLES */

/* this affects the buttons WITHIN a section
   by virtue of the sub-tag 'label'.  There
   is no specific class for these, their id
   is typically renderer_uuid or playlist_id,
   and their 'name' is renderer_button,
   playlist_button, etc.
*/

#playlist_menu label,
#renderer_menu label,
#library_menu label
{
	width:200px;
	font-size:16px;
	font-weight:bold;
	overflow:hidden;
	white-space:nowrap;
	margin-bottom:10px;
}

/* this affects the section itself */

#playlist_menu,
#renderer_menu,
#library_menu
{
	width:197px;
	padding-left:10px;
	white-space:nowrap;
}



/* raise the renderer_menu over the slider button which is at z-index:2

#renderer_menu,
#renderer_menu_div
{
	z-index:3;
}

*/


/* HOME-MENU PREF STYLES */

#prefs_div
	/* the whole prefs div */
{
	font-size:20px;
	width:100%;
	padding:0px;
	margin:0px;
}

.pref_div
	/* a div per pref */
{
	margin-top:12px;
	width:100%;
}

.pref_title
	/* title of the pref */
{
	margin-bottom:8px;
}

.pref_value
	/* current value of the pref */
{
	color:#6666ff;
	margin-left:30px;
	font-weight:bold;
}

.pref_control_div
	/* an area under the value for controls to change the value */
{
	margin-top:6px;
	margin-left:45px;
}


.pref_descrip
	/* one or more paragraphs describing the preference */
{
	margin-top:10px;
	margin-left:15px;
}



/******************* PLAYLIST INFO PANE ****************/

.playlist_info_header_left
{
	padding-left:6px;
	cursor:pointer;
}

.playlist_info_div
	/* wraps the whole pane except the header bar */
{
	white-space:nowrap;
	margin-top:6px;
	margin-left:6px;
	margin-right:6px;
	text-align:center;
}


/* controls */

.playlist_info_shuffle_div
	/* div around the shuffle buttons */
{
	margin-top:8px;
}

.playlist_info_shuffle_button
	/* style is also applied to the unplayed_first button */
{
	margin-top:6px;
	white-space:nowrap;
	width:140px;
}


/* slider */

.playlist_info_slider_div
	/* div around just the playlist_info_slider */
{
	width:100%;
	margin-top:30px;
	margin-left:10%;
	margin-bottom:24px;
}

.playlist_info_slider
{
	width:80%;
	height:6px;
	background:#0000ff;
}


.playlist_info_slider_table
	/* table under the slider that contains the track number */
{
	/* width:90%; */
}


.playlist_info_track_num_td,
.playlist_info_track_of_td,
.playlist_info_num_tracks_td
{
	font-size:18px;
	text-align:center;
	vertical-align:middle;
	width:30px;
	/* border:1px solid white; */
}

.playlist_info_num_tracks_td
{
	text-align:left;
}

.playlist_info_track_num
{
	font-size:18px;
	width:52px;
}
