/*******************************************
 station.css
********************************************/
/* see station.js for kludge to fix wrapper div size */


#station_tree_wrapper
{
	position:relative;
	overflow:auto;
	width:100%;
	height:100%;
	z-index:1;
}

#station_tree
{
	width:100%;
	height:100%;
	/* overflow:auto !important; */
}


#station_tree li
{
    overflow:hidden;
	font-size:12pt;
}



/* EDIT_STATION_LIST */

#edit_station_list_div.ui-layout-pane
{
	overflow:auto !important;
	height:100%;
}

#edit_station_list
{
	width:170px;
	font-size:12px;
	padding-left:6px;
	white-space:nowrap;
}

#edit_station_list label
{
	width:160px;
	overflow:hidden;
	white-space:nowrap;
	margin-bottom:6px;
}



/* PANE_STATION_INFO */
/* common styles used in pane_station_info */
/* in both page_station & page_renderer */


/* header and whole page */

.station_info_header_left
{
	padding-left:6px;
	cursor:pointer;
}


.station_info_div
	/* wraps the whole pane except the header bar */
{
	white-space:nowrap;
	margin-top:6px;
	margin-left:6px;
	margin-right:6px;
	text-align:center;
}


/* controls */


.station_info_shuffle_div
	/* div around the shuffle buttons */
{
	margin-top:8px;
}


.station_info_shuffle_button
	/* style is also applied to the unplayed_first button */
{
	margin-top:6px;
	white-space:nowrap;
	width:140px;
}




/* slider */

.station_info_slider_div
	/* div around just the station_info_slider */
{
	width:100%;
	margin-top:30px;
	margin-left:10%;
	margin-bottom:24px;
}

.station_info_slider
{
	width:80%;
	height:6px;
	background:#0000ff;
}


.station_info_slider_table
	/* table under the slider that contains the track number */
{
	/* width:90%; */
}


.station_info_track_num_td,
.station_info_track_of_td,
.station_info_num_tracks_td
{
	font-size:18px;
	text-align:center;
	vertical-align:middle;
	width:30px;
	/* border:1px solid white; */
}

.station_info_num_tracks_td
{
	text-align:left;
}

.station_info_track_num
{
	font-size:18px;
	width:52px;
}
