/**********************************************************************
 tracklist.css - common to page_home and page_explorer Trackliss
***********************************************************************/

.home_tracklist
{
	display: none;
}

#home_tracklist_div,
#explorer_tracklist_div
{
	overflow-y:auto !important;
}


#queue_tracklist,
#playlist_tracklist,
#explorer_tracklist
{
	width:100%;
	table-layout:fixed;
}


#queue_tracklist span.fancytree-title,
#playlist_tracklist span.fancytree-title,
#queue_tracklist td,
#playlist_tracklist td,
#explorer_tracklist td
{
    overflow:hidden;
	color:#ffffff;
	background-color:#000000;
	font-size:12pt;
	vertical-align:middle !important;
}


/*
#queue_tracklist .fancytree-node,
#playlist_tracklist .fancytree-node,
*/
#queue_tracklist .fancytree-expander,
#playlist_tracklist .fancytree-expander,
#explorer_tracklist .fancytree-expander
{
	display:none !important;
}

.home_rownum		{ margin:0px; /* padding-left:2px;*/  color:#aaaaaa !important; }		/* home only */
.tracklist_icon  	{ width:16px; }							/* !home */
.tracklist_tracknum	{ width:24px;	padding-left:2px; }		/* !home */
.tracklist_title  	{ width:33%;	max-width:180px; padding-left:8px; }
.tracklist_album  	{ width:33%; 	max-width:160px; padding-left:8px; }
.home_tracknum		{ width:30px;	padding-left:8px; }		/* home only */
.tracklist_genre  	{ width:33%; 	max-width:100px; padding-left:8px; }
.tracklist_year  	{ width:60px; 	text-align:center; padding-right:4px; }


.current_track > td
{
	background-color: #446688 !important;
}


/* end of tracklist.css */
